Adafruit-Blinka==8.39.2
adafruit-circuitpython-74hc595==1.4.4
adafruit-circuitpython-busdevice==5.2.9
adafruit-circuitpython-charlcd==3.4.10
adafruit-circuitpython-connectionmanager==3.1.0
adafruit-circuitpython-mcp230xx==2.5.13
adafruit-circuitpython-requests==4.0.0
adafruit-circuitpython-typing==1.10.3
Adafruit-PlatformDetect==3.63.0
Adafruit-PureIO==1.1.11
certifi==2024.2.2
charset-normalizer==3.3.2
idna==3.7
PyAudio==0.2.14
pyftdi==0.55.4
pyserial==3.5
pyusb==1.2.1
requests==2.31.0
RPi.GPIO==0.7.1
rpi_ws281x==5.0.0
RPLCD==1.3.1
SpeechRecognition==3.10.4
sysv-ipc==1.1.0
typing_extensions==4.11.0
urllib3==2.2.1
